server:
  port: 8080

spring:
  application:
    name: demo

  datasource:
    url: jdbc:postgresql://localhost:5432/${DB_NAME}
    username: ${DB_NAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: false
    open-in-view: false

  flyway:
    baseline-on-migrate: true
    locations: classpath:db/migration
    enabled: true

  hikari:
    initialization-fail-timeout: 60000
  
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_USERNAME}
    password: ${EMAIL_PASSWORD}
    enabled: ${MAIL_ENABLED}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

springdoc:
  swagger-ui:
    enabled: true
  api-docs:
    enabled: true

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.hibernate: WARN
    com.example.demo: INFO